<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INoteService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_INoteService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8010/NoteService/NoteService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INoteService"
                contract="ServiceReference1.INoteService" name="NetTcpBinding_INoteService">
                <identity>
                    <userPrincipalName value="LAPTOP-9702L6JA\lenovo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/NoteSerive/NoteService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INoteService"
                contract="ServiceReference1.INoteService" name="BasicHttpBinding_INoteService" />
        </client>
    </system.serviceModel>
</configuration>